.row{
  background-color: #eef7f6ba;
  padding: 2%;
  margin: 1%;
  width: 98%;
}
img{
  width: 100%;
}

.boton{
  margin: 2% 0;
}
.parte1{
  float: left;
  margin-top: 2%;
}
.parte2{
  float: right;
}
.parte1b{
  float: left;
}
.parte2b{
  float: right;
  margin-top: 5%;
}
