<div class="row">
  <div class="col-12 col-lg-12">
    <img class= "baner" src="http://localhost:3000/img/medium-resize-{{persona?.url_foto_baner}}" alt="">
  </div>

  <div id="fotoperfil">
      <img src="http://localhost:3000/img/medium-resize-{{persona?.url_foto_perfil}}" alt="Foto de perfil" class="img-fluid">
  </div>
</div>




<div class="row text-left">

  <div id= "nombre" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
      <h2> {{persona?.nombre}} {{persona?.apellido}}</h2>
      <h3>Full stack developer jr</h3>
      <p>Correo: {{persona?.correo}}</p>
      <p>Fecha de nacimiento: {{persona?.fecha_nacimiento}}</p>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 text-center acerca">
    <div *ngIf="(uLoged==='1')" class="boton">
      <button type="button" class="btn btn-secondary"
                            data-toggle="modal" data-target="#ModalPersona">
        Editar imagenes y datos personales
      </button>
      <hr>
    </div>
      <span>
          <h2>Acerca de mi</h2>
          <p>{{persona?.sobre_mi}}</p>
      </span>
  </div>

<!--MODAL EDITAR PERSONA-->
<div class="modal fade"
      id="ModalPersona"
      tabindex="-1"
      role="dialog"
      aria-labelledby="ModalPersona"
      aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Editar datos perosnales</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                  <form [formGroup]="editarPersonaForm" (ngSubmit)="editarPersona()" enctype="multipart/form-data">
                      <div class="form-group">

                          <label for="nombre">Nombre:</label>
                          <input type="text"
                                formControlName="nombre"
                                  class="form-control"
                                  id="nombre"
                                  placeholder="{{persona?.nombre}}"
                                  required
                          >

                          <label for="apellido">Apellido:</label>
                          <input type="text"
                          formControlName="apellido"
                          class="form-control"
                          id="apellido"
                          placeholder="{{persona?.apellido}}"
                          required
                          >

                          <label for="correo">Correo:</label>
                          <input type="text"
                          formControlName="correo"
                          class="form-control"
                          id="correo"
                          placeholder="{{persona?.correo}}"
                          required
                          >

                          <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                          <input type="text"
                          formControlName="fecha_nacimiento"
                          class="form-control"
                          id="fecha_nacimiento"
                          placeholder="{{persona?.fecha_nacimiento}}"
                          required
                          >

                          <label for="sobre_mi">Sobre mi:</label>
                          <textarea class="form-control"
                          id="sobre_mi"
                          placeholder="{{persona?.sobre_mi}}"
                          required
                          formControlName="sobre_mi" rows="5" cols="10"></textarea>"



                          <label for="url_foto_perfil">Foto de perfil:</label>
                          <input type="file"
                          (change)="capturarFilePerfil($event)"
                          formControlName="url_foto_perfil"
                          class="form-control"
                          id="url_foto_perfil"
                          placeholder="{{persona?.url_foto_perfil}}"
                          required
                          >

                          <label for="url_foto_baner">Imagen banner:</label>
                          <input type="file"
                          (change)="capturarFileBaner($event)"
                          formControlName="url_foto_baner"
                          class="form-control"
                          id="url_foto_baner"
                          placeholder="{{persona?.url_foto_baner}}"
                          required
                          >

                          <button [disabled]="editarPersonaForm.invalid">Editar datos personales</button>
                      </div>
                  </form>

              </div>
          <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
      </div>
    </div>
</div>
</div>
