<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="textfoter">
    <div class="redes">
      <a href="https://www.facebook.com/jmanglada" target="_blank"><img class="facebook" src="../../../assets/facebook.png" alt=""></a>
      <a href="https://github.com/Juanglaman" target="_blank"><img class="github" src="../../../assets/github.png" alt=""></a>
      <a href="https://ar.linkedin.com/in/juan-anglada-321a2863?trk=people-guest_people_search-card" target="_blank"><img class="linkedin" src="../../../assets/linkedin.png" alt=""></a>
  </div>
    <h5>Porfolio de Juan Manuel Anglada</h5>
      <p>La plata, Buenos Aires, Argentina</p>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 logoFoter">
      <img src="../../../assets/APLogo.png" alt="Logo Argentina programa">
  </div>
</div>
