.row{
  background-color: #336600;
  width: 100%;
}
.logoAp{
    text-align: left;
  }
.logo{
  width: 170px;
}
.redes img{
    width: 50px;
  }
.redes{
    text-align: right;
    margin-top: 20px;;
  }
.redes a {
    margin-right: 10px;
  }
  .login{
    margin: 5px 10px;
  }
